body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF2625;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .right-arrow {
    right: 140px;
  }

  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }

  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .detail-image {
    width: 729px;
    height: 742px;
  }

  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 10px;
    width: 700px;
    height: 900px;
    margin-top: -230px;

  }

  .exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #FF2625;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .exercise-card img {
    height: 326px;
  }

  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }

  .search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
  }

  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }

  @keyframes rain {

    0% {

background-position: 0% 0%;

    }
    100% {

      background-position: 15% 100%;

          }


  }

  .Home_backgroundImage {
  background-image: url(./images/rain.png);
  animation: rain 2s linear infinite;



  }

  .About_backgroundImage {
    background-image: url(./images/rain.png);
    animation: rain 2s linear infinite;



    }

    .Skills_backgroundImage {
      background-image: url(./images/rain.png);
      animation: rain 2s linear infinite;



      }

  @keyframes  lighting {

      0% {
        opacity: 0;

      }
      20% {
        opacity: 0;

      }
      21% {
        opacity: 1;

      }
      25% {
        opacity: 0;

      }
      30% {
        opacity: 0;

      }

      31% {
        opacity: 1;

      }
      35% {
        opacity: 0;

      }

      100% {
        opacity: 0;

      }










  }

  @keyframes movingText {

    40% ,
    60%  {
      left : calc(90%  + 10px)
    }

    100% {
      left : 0
    }

  }

  .about_paragraph {
    position: relative;
    letter-spacing: .5rem;



  }

  .companyname_style {
    -webkit-text-stroke: 1px saddlebrown;

  }

  .about_box {

   cursor: pointer;

   -webkit-text-stroke: 1px saddlebrown;



  }

  .about_box:hover {
    text-decoration: underline;

   }




  .about_paragraph::after {
    content: "";
    overflow: hidden;
    position: absolute;
    left: 0;
     width: 100%;
     height: 100%;
     background-image: url(./images/rain.png);
     background-color: #000;
     border-left: 2px solid green;
     animation : movingText  10s steps(5),



  }



  .Skills_backgroundImage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
   background-image: url(./images/lightining.png);
   top: 200vh;
   transform: rotate(180deg);
   animation: lighting 4s linear infinite;
   opacity: 1;




  }


  .Home_backgroundImage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
   background-image: url(./images/lightining.png);
   top: -100px;
   transform: rotate(180deg);
   animation: lighting 4s linear infinite;
   opacity: 1;




  }





@keyframes set6 {
  0% {

    transform: scale(1);

  }
  to {
   transform: scale(1.3);

  }

  }

  @keyframes set7 {
    0% {

      transform: scale(1);

    }
    to {
     transform: scale(1.3);

    }

    }


@keyframes set8 {
  0% {

    transform: scale(1);

  }
  to {
   transform: scale(1.3);

  }

  }


  .arrow1 {

font-size: 1.7rem;
animation: set6 1.5s linear infinite ;
transition:  all 1.5s;
animation-delay: 1s;
margin-left: .5rem;

@media (max-width : 75em) {
  font-size: 1.4rem;

}





  }




  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }


    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }

    .left-arrow,
    .right-arrow {
      position: static !important;
    }

    .hero-banner-img {
      display: none;
    }

    .exercise-card {
      width: 320px;
    }

    .exercise-video {
      width: 320px;
      height: 300px;
    }

  }

  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }